@media(max-width:750px){
}

body {
  font-family: Arial, sans-serif;
}

.logo {
    width: 40px;
}

.navbar {
  box-shadow: 0 4px 2px -2px gray;
}

.btn-signin, .btn-signup {
    text-decoration: none;
    padding: 5px;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
}

footer p, footer ul {
  margin: 0;
  color: #ebebeb;
}

.footnote {
    height: 100px;
    background-color: rgb(44, 44, 44);
    margin-top: 100px;
}   

.nav-link:hover{
    color: rgb(216, 191, 49) !important;
}

.btn-signin:hover, .btn-signup:hover {
    text-decoration: underline;
    color: rgb(38, 23, 167);
}
